.advantages {
  text-align: center;
}

.advantages__slogan {
  @include font(300, 24px);
  width: 280px;
  margin: 0 auto;
  padding-top: 36px;

  color: $blue;

  @include tablet {
    width: 100%;
    padding-top: 45px;

    font-size: 40px;

    &:last-of-type {
      padding-top: 0;
    }
  }

  @include desktop {
    padding-top: 70px;

    font-size: 50px;
  }
}

.advantages__info {
  margin-top: 25px;

  background: $grey-light url("../img/bg-triangle-white.svg") no-repeat 100% 0;
  background-size: cover;

  @include tablet {
    margin-top: 35px;
  }

  @include desktop {
    margin-top: 75px;
  }
}

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 55px;
  overflow-y: hidden;

  text-align: center;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 620px;
    padding-top: 0;
  }

  @include desktop {
    width: 940px;
  }
}

.advantages__list {
  @include list-reset;
  text-align: center;

  @include tablet {
    order: 2;
    width: (100% / 2);

    text-align: left;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    text-align: center;
  }
}

.advantages__item {
  @include desktop {
    width: (100% / 3);
    padding: 0 37px;
  }
}

.advantages__title {
  margin: 0;
  padding-top: 34px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;

  @include desktop {

  }

  @include desktop {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  margin: 0;
  padding-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blue;

  & br {
    display: none;
  }

  @include tablet {
    padding-top: 12px;

    & br {
      display: block;
    }
  }

  @include desktop {
    padding-top: 25px;

    font-size: 18px;
    line-height: 30px;

    & br {
      display: none;
    }
  }
}

.advantages__photos {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px;
  }
}

.advantages__image {
  display: block;
  margin: 40px auto -45px;

  &:nth-child(-n+2) {
    display: none;
  }

  @include tablet {
    margin: 0;
  }

  @include desktop {
    &:nth-child(-n+2) {
      display: block;
    }
  }
}
