.advantages {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: hidden;

  text-align: center;
}

.advantages__slogan {
  @include font(300, 24px, 1.2em);
  margin: 0;
  padding-top: 36px;

  color: $blue;
}

.advantages__list {
  @include resetList;
}

.advantages__title {
  @include font(700, 18px, 24px);
  margin: 0;
  padding-top: 36px;

  color: $black;
}

.advantages__description {
  @include font(400, 14px, 24px);
  margin: 0;
  padding-top: 10px;

  color: $blue;
}

.advantages__photo {
  margin-top: 40px;
  margin-bottom: -45px;
}
