.application {
  position: relative;
  z-index: 10;

  padding: 462px 20px 0;

  text-align: center;

  @include tablet {
    width: 300px;
    padding: 200px 0 0;
  }

  @include desktop {
    padding: 220px 0 0;
  }
}

.application__title {
  display: none;

  @include tablet {
    @include font(300, 40px);
    display: block;
    margin: 0;
    padding-bottom: 10px;

    text-align: center;
    color: $white;
  }

  @include desktop {
    padding-bottom: 30px;

    font-size: 50px;
  }
}

.application__button {
  @include font(700, 18px, 18px);
  display: block;
  padding: 16px 0;
  margin-top: 26px;

  color: $white;
  text-decoration: none;

  background-color: transparent;
  border: 3px solid $white;
  border-radius: 30px;

  transition: 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $pink;

    background-color: $white;
  }

  &:active {
    color: rgba($pink, 0.3);
  }

  @include tablet {
    margin-top: 20px;
  }

  @include desktop {
    font-size: 21px;
  }
}

.application__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application__item {
  padding: 33px 17px 17px;

  @include tablet {
    padding: 44px 17px 33px;
  }

  @include desktop {
    padding: 67px 17px 50px;
  }
}

.application__description {
  @include font(300, 14px, 24px);
  margin: 0;

  color: $white;

  @include tablet {
    font-size: 18px;
  }
}
