.contacts {
  text-align: center;
}

.contacts__slogan {
  @include font(300, 24px);
  margin: 0;
  margin-bottom: 35px;

  color: $blue;

  @include tablet {
    margin-bottom: 45px;

    font-size: 40px;
  }

  @include desktop {
    margin-bottom: 60px;

    font-size: 50px;
  }
}

.contacts__list {
  @include list-reset;
  position: relative;
  z-index: 4;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @include desktop {
    width: 940px;
    padding: 0 10px;
  }
}

.contacts__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 10px;
  }

  @include tablet {
    width: (100% / 2);
    margin-bottom: 50px;
  }

  @include desktop {
    width: (100% / 3);

    &:nth-child(2) {
      order: 2;
    }
  }
}

.contacts__title {
  @include font(700, 18px);
  margin: 0;
  margin-bottom: 6px;

  color: $blue;
}

.contacts__text {
  @include font(300, 24px);
  margin: 0;

  color: $pink;

  @include desktop {
    padding-top: 20px;
  }
}

.contacts__link {
  color: $pink;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue;
    text-decoration: underline;
  }

  &:active {
    color: rgba($blue, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 230px;
  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 3;

    width: 100%;
    height: 65px;

    background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0;
    background-size: cover;
  }

  &::after {
    @include pseudo($top: 123px, $left: 50%);
    z-index: 1;
    width: 36px;
    height: 36px;
    margin-left: -18px;

    background: url("../img/icon-map-marker.svg") no-repeat 0 0;
  }

  @include tablet {
    height: 430px;
    margin-top: -35px;

    &::before {
      height: 125px;
    }

    &::after {
      top: 250px;
    }
  }

  @include desktop {
    height: 600px;
    margin-top: -100px;

    &::before {
      height: 200px;
    }

    &::after {
      top: 365px;
    }
  }
}

.contacts__map-picture {
  margin-top: -415px;

  @include tablet {
    margin-top: -290px;
  }

  @include desktop {
    margin-top: -60px;
  }
}

.contacts__map-interactive {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 230px;

  border: 0;

  @include tablet {
    height: 430px;
  }

  @include desktop {
    height: 600px;
  }
}
