.feedback__title {
  @include font(400, 14px, 30px);
  max-width: 280px;
  margin: 0 auto;
  padding-top: 47px;

  text-align: center;
  color: $blue;

  & span {
    display: none;
  }

  @include tablet {
    max-width: 520px;

    font-size: 18px;

    & span {
      display: inline;
    }
  }

  @include desktop {
    max-width: 780px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 660px;
    padding: 0 20px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.feedback__post {
  margin-top: 40px;
  margin-bottom: 60px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
    margin-top: 70px;
  }

  @include desktop {
    width: 100%;
  }
}

.feedback__button {
  @include button-reset;
  @include font(700, 18px, 20px);
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: $green;
  border-radius: 2px;

  @include tablet {
    margin: 0;
    width: 300px;
  }
}

.feedback__necessary {
  @include font(400, 14px, 30px);
  margin: 0;
  padding-top: 30px;

  text-align: center;
  color: $blue;
  text-transform: uppercase;

  & sup {
    color: $pink;
  }

  & span {
    display: none;
  }

  @include tablet {
    margin: 0;
    padding: 0;
  }

  @include desktop {
    & span {
      display: inline;
    }
  }
}
