.form-info {
  box-sizing: border-box;
  margin-top: 35px;
  padding: 0 20px;

  border: none;

  @include tablet {
    padding: 0;

    &--name {
      order: 1;
      margin-top: 73px;
    }

    &--contact {
      order: 3;
      margin-top: 60px;
      padding: 38px 58px 25px;

      background-color: transparent;
      border: 2px solid $grey;
      border-radius: 3px;
    }
  }

  @include desktop {
    &--name {
      width: 435px;
      margin-top: 83px;
    }

    &--contact {
      width: 100%;
      padding: 35px 58px 20px;
    }
  }
}

.form-info__caption {
  display: none;

  @include tablet {
    @include font(400, 14px, 18px);
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 35px;

    text-align: center;
    color: $pink;
    text-transform: uppercase;

    background-color: transparent;
  }
}

.form-info__list {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    & .form-info__item {
      width: 375px;
    }
  }
}

.form-info__item {
  position: relative;

  margin: 0;
  padding-bottom: 20px;

  &:last-child {
    padding: 0;
  }

  @include tablet {
    display: flex;
    justify-content: flex-start;

    &--name {
      flex-direction: row;
      align-items: baseline;
      padding-bottom: 54px;
    }

    &--contact {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 30px;
    }
  }

  @include desktop {
    &--contact {
      padding-bottom: 0;
    }
  }
}

.form-info__item--contact::after {
  @include tablet {
    @include pseudo($top: 0, $right: 0);
    z-index: -1;

    width: 60px;
    height: 60px;

    background: $grey url("../img/icon-phone.svg") no-repeat 50% 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.form-info__item--contact:last-child::after {
  @include tablet {
    background: $grey url("../img/icon-mail.svg") no-repeat 50% 50%;
  }
}

.form-info__label {
  @include font(400, 14px, 30px);
  display: block;
  padding-left: 20px;
  padding-bottom: 5px;

  color: $pink;
  text-transform: uppercase;

  @include tablet {
    &--name {
      padding: 0;
      padding-right: 20px;
    }

    &--contact {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

.form-info__input {
  @include font(400, 18px, 30px);
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-left: 20px;

  font: inherit;
  color: $blue;

  background-color: transparent;
  border: 2px solid $grey;
  border-radius: 3px;

  &:hover {
    border: 2px solid $blue;
  }

  &:focus {
    border: 2px solid $pink;
    outline: none;
  }

  &::placeholder {
    font-size: 18px;
    color: $blue;

    opacity: 1;
  }

  @include tablet {
    &--contact {
      padding-right: 70px;
    }
  }
}

.form-info__input--error {
  border: 2px solid $pink;
}
