.form-message {
  margin-top: 32px;
  padding: 10px 20px 0;

  border: none;

  @include tablet {
    margin-top: 45px;
    padding: 35px 58px 45px;
    order: 5;

    border: 2px solid $grey;
    border-radius: 3px;
  }

  @include desktop {
    width: 100%;
    margin-top: 50px;
    padding: 30px 58px 40px;
  }
}

.form-message__caption {
  @include font(400, 14px, 30px);
  max-width: 300px;
  margin: 0 auto;
  padding: 0 35px;

  text-align: center;
  color: $pink;
  text-transform: uppercase;

  background-color: transparent;
}

.form-message__text {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  margin: 0;
  padding: 15px 19px;

  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $blue;

  border: 2px solid $grey;
  border-radius: 3px;
  resize: none;

  &:hover {
    border: 2px solid $blue;
  }

  &:focus {
    border: 2px solid $pink;
    outline: none;
  }

  @include tablet {
    min-height: 195px;
  }

  @include desktop {
    min-height: 125px;
  }
}
