.form-message {
  margin: 0;
  padding: 0 20px;

  border: none;
}

.form-message__caption {
  @include font(400, 14px, 18px);
  margin: 0;
  padding: 40px 0 15px;

  text-align: center;
  color: $pink;
  text-transform: uppercase;

  background-color: transparent;
}

.form-message__text {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  padding: 15px 20px;

  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $blue;

  border: 2px solid $greyDark;
  resize: none;
}
