.form-report {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0;

  border: none;
  background-color: $grey-light;

  @include tablet {
    margin-top: 60px;
    padding: 55px 55px 60px;

    background-color: transparent;
    border: 2px solid $grey;

    &--application {
      order: 2;
    }

    &--progress {
      order: 4;
    }
  }

  @include desktop {
    margin-top: 0;

    background-color: transparent;
    border: 2px solid $grey;

    &--application {
      width: 435px;
      margin-top: 73px;
      padding: 50px 0 63px;
    }

    &--progress {
      margin-top: 53px;
      padding: 50px 55px;
    }
  }
}

.form-report__caption {
  @include font(400, 14px, 18px);
  max-width: 450px;
  margin: 0 auto;
  padding: 40px 40px 50px;

  text-align: center;
  color: $pink;
  text-transform: uppercase;

  background-color: $grey-light;

  @include tablet {
    padding: 0 30px;

    background-color: transparent;
  }
}

.form-report__list {
  @include list-reset;
}

.form-report__list--progress {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 820px;
    height: 120px;
  }
}

.form-report__item {
  margin-bottom: 62px;

  &:last-child {
    margin-bottom: 50px;
  }

  &--application {
    margin-bottom: 55px;
  }

  @include tablet {
    &:last-child {
      margin-bottom: 0;
    }

    &--application {
      margin-bottom: 55px;
    }

    &--progress {
      margin-bottom: 62px;
    }
  }

  @include desktop {
    &--application {
      margin-left: 75px;
    }

    &--progress {
      width: (100% / 3);
      margin-right: 35px;
    }

    &--progress:nth-child(2n) {
      margin: 0;
    }
  }
}

.form-report__label {
  position: relative;

  display: block;
  padding-left: 88px;

  font: inherit;
  font-size: 18px;
  color: $blue;

  cursor: pointer;

  @include tablet {
    padding-left: 60px;
  }
}

.form-report__input--checkbox + .form-report__label::before {
  @include pseudo($top: -10px, $left: 20px);
  width: 35px;
  height: 35px;

  background-color: $white;
  border: 2px solid $grey;
  border-radius: 3px;

  @include tablet {
    left: 0;
  }
}

.form-report__input--checkbox:checked + .form-report__label::after {
  @include pseudo($top: 0, $left: 28px);
  width: 21px;
  height: 8px;

  border-left: 2px solid $pink;
  border-bottom: 2px solid $pink;

  transform: rotate(-45deg);

  @include tablet {
    left: 10px;
  }
}

.form-report__input--radio + .form-report__label::before {
  @include pseudo($top: -10px, $left: 20px);
  width: 36px;
  height: 36px;

  background-color: $white;
  border: 2px solid $grey;
  border-radius: 50%;

  @include tablet {
    left: 0;
  }
}

.form-report__input--radio:checked + .form-report__label::after {
  @include pseudo($top: 2px, $left: 32px);
  width: 16px;
  height: 16px;

  background-color: $pink;
  border-radius: 50%;

  @include tablet {
    left: 12px;
  }
}

.form-report__input--radio:hover + .form-report__label::before,
.form-report__input--checkbox:hover + .form-report__label::before {
  border: 2px solid $blue;
}

.form-report__input--radio:focus + .form-report__label::before,
.form-report__input--checkbox:focus + .form-report__label::before {
  border: 2px solid $pink;
}
