.form-report {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  border: none;
  background-color: $greyLight;

  @include tablet {
    background-color: transparent;
    border: 2px solid $greyDark;
  }
}

.form-report__caption {
  @include font(400, 14px, 18px);
  margin: 0;
  padding: 30px;

  text-align: center;
  color: $pink;
  text-transform: uppercase;

  background-color: $greyLight;

  @include tablet {
    background-color: transparent;
  }
}

.form-report__list {
  @include list-reset;
}

.form-report__item {
  margin-bottom: 60px;
}

.form-report__label {
  position: relative;

  display: block;
  padding-left: 90px;

  font: inherit;
  font-size: 18px;
  color: $blue;

  cursor: pointer;
}

.form-report__input--checkbox + .form-report__label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;

  width: 35px;
  height: 35px;

  background-color: $white;
  border: 2px solid $greyDark;
}

.form-report__input--checkbox:checked + .form-report__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;

  width: 22px;
  height: 16px;

  background: url("../img/icon-yes.svg") no-repeat 0 0;
}

.form-report__input--radio + .form-report__label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;

  width: 36px;
  height: 36px;

  background-color: $white;
  border: 2px solid $greyDark;
  border-radius: 50%;
}

.form-report__input--radio:checked + .form-report__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 32px;

  width: 16px;
  height: 16px;

  background-color: $pink;
  border-radius: 50%;
}

.form-report--progress {
  @include tablet {
    order: 4;
    padding: 0 60px;
  }

  @include desktop {
    width: 100%;

    & .form-report__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & .form-report__item {
      width: (100% / 3);
    }
  }
}

.form-report--application {
  @include tablet {
    order: 2;
  }

  @include desktop {
    margin-top: 35px;
    width: 435px;
  }
}
