.form-message {
  margin: 0;
  margin-top: 40px;
  padding: 0 20px;

  border: none;

  @include tablet {
    padding: 40px 60px;
    order: 5;

    border: 2px solid $greyDark;
  }

  @include desktop {
    width: 100%;
  }
}

.form-message__caption {
  @include font(400, 14px, 30px);
  margin: 0;
  padding: 0 30px;

  text-align: center;
  color: $pink;
  text-transform: uppercase;

  background-color: transparent;
}

.form-message__text {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  margin: 0;
  margin-top: 20px;
  padding: 15px 20px;

  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $blue;

  border: 2px solid $greyDark;
  resize: none;

  @include tablet {
    margin: 0 auto;
  }
}
