.intro {
  min-height: 237px;
  margin: 0 auto;

  background: $blue-dark url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;

  @include mobile {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }

  @include tablet {
    width: 660px;
    min-height: 440px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 730px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include desktop {
    width: auto;
    min-height: 395px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 853px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  position: relative;
  z-index: 1;

  width: 320px;
  min-height: 733px;
  margin: 0 auto;
  overflow-x: hidden;

  @include tablet {
    width: 620px;
    padding: 0 20px;
  }

  @include desktop {
    width: 940px;
    min-height: 853px;
    padding: 0 10px;
  }
}

.intro__title {
  @include font(300, 24px);
  max-width: 280px;
  margin: 0 auto;
  padding-top: 100px;

  text-align: center;
  color: $white;

  @include tablet {
    max-width: 520px;
    padding-top: 178px;

    font-size: 50px;
  }

  @include desktop {
    max-width: 780px;
    padding-top: 172px;
  }
}

.intro__image {
  position: absolute;
  left: 0;
  top: 175px;
  z-index: -1;

  @include tablet {
    left: -20px;
    top: auto;
    bottom: 0;

    max-width: 700px;
  }

  @include desktop {
    left: 25px;

    max-width: 1050px;
  }
}
