.main-nav {
  position: relative;
  z-index: 10;
}

.main-nav__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background-color: rgba($black, 0.3);
}

.main-nav__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.main-nav__logo {
  box-sizing: border-box;
  display: block;
  min-height: 67px;
  padding-top: 22px;
  padding-left: 20px;

  @include tablet {
    min-height: 109px;
    padding-top: 5px;
    padding-left: 20px;
  }

  @include desktop {
    padding-top: 20px;
    padding-left: 0;
  }
}

.main-nav__logo-icon {
  display: block;
  width: 75px;

  transition: 0.2s ease-in-out;

  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: rgba($white, 0.3);
  }

  &--tablet,
  &--desktop {
    display: none;
  }

  @include tablet {
    width: 147px;
    padding-top: 25px;

    &--tablet {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  @include desktop {
    padding-top: 10px;
    padding-left: 0;

    &--desktop {
      display: block;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 20px;

  width: 50px;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @include tablet {
    top: 30px;
  }

  @include desktop {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @include pseudo($top: 12px, $right: 0);
  width: 50px;
  height: 4px;

  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  @include pseudo($top: 20px, $right: 0);
  width: 30px;
  height: 5px;

  background-color: $white;

  transition: 0.2s ease-in-out;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: $pink;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 0.3;
}

.main-nav--closed .site-list__item {
  @include mobile-tablet {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @include mobile-tablet {
    display: none;
  }
}

.main-nav--nojs .site-list__item {
  @include mobile-tablet {
    display: block;
  }
}

.main-nav--nojs .main-nav__container {
  @include mobile-tablet {
    position: static;

    height: 258px;

    background-color: $blue;
  }
}

.main-nav--opened .main-nav__container {
  @include mobile-tablet {
    position: static;

    height: 258px;

    background-color: $blue;
  }
}
