.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  &--hidden {
    display: none;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    height: 128px;

    &--hidden {
      display: flex;
    }
  }

  @include desktop {
    width: 940px;
    height: 200px;
    padding: 0 10px;
  }
}

.page-footer__logo-image {
  display: block;
  margin-bottom: 36px;
}

.page-footer__social,
.page-footer__copyright {
  margin-bottom: 36px;
}
