.page-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  min-height: 285px;
  margin: 0 auto;
  padding-top: 40px;

  &--hidden {
    display: none;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 620px;
    min-height: 127px;
    padding-top: 37px;

    &--hidden {
      display: flex;
    }
  }

  @include desktop {
    width: 940px;
    min-height: 200px;
    padding-top: 75px;
  }
}

.page-footer__social {
  @include mobile-only {
    padding-top: 40px;
  }
}

.page-footer__copyright {
  @include mobile-only {
    padding-top: 30px;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: auto;
}

.page-footer__logo-icon {
  fill: $blue;

  transition: 0.3s ease-in-out;

  &:hover {
    fill: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @include desktop {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
