.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  &--hidden {
    display: none;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    height: 128px;

    &--hidden {
      display: flex;
    }
  }

  @include desktop {
    width: 940px;
    height: 200px;
    padding: 0 10px;
  }
}

.page-footer__logo-icon {
  display: block;
  width: 147px;
  height: auto;
  margin-bottom: 36px;

  fill: $blue;

  transition: 0.3s ease-in-out;

  &:hover {
    fill: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @include desktop {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.page-footer__social,
.page-footer__copyright {
  margin-bottom: 36px;
}
