.photo {
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 660px;
  }

  @include desktop {
    width: auto;
  }
}

.photo__title {
  @include font(400, 14px, 30px);
  margin: 0;
  padding: 47px 35px;

  text-align: center;
  color: $blue;

  @include tablet {
    padding: 75px 65px;

    font-size: 18px;
  }

  @include desktop {
    padding: 100px 300px;
  }
}

.photo__panorama {
  display: block;

  @include tablet {
    width: 100%;
  }
}

.photo__list {
  @include list-reset;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  @include desktop {
    width: 960px;
    margin: 0 auto;
  }
}

.photo__item {
  margin: 0 20px 20px;

  background-color: $greyLight;

  @include desktop {
    margin: 0 10px 20px;
  }
}

.photo__image {
  display: block;
}

.photo__info {
  box-sizing: border-box;
  width: 280px;
  padding: 17px 20px 22px;

  color: $blue;

  &--panorama {
    margin: 0 20px 20px;

    background-color: $greyLight;
  }

  @include tablet {
    &--panorama {
      width: 620px;
      margin: 0 auto 50px;
    }
  }

  @include desktop {
    &--panorama {
      width: 940px;
      margin: 0 auto 50px;
    }
  }
}

.photo__author {
  @include font(700, 14px, 24px);
}

.photo__date {
  @include font(300, 12px, 24px);
  text-transform: uppercase;
}

.photo__text {
  @include font(400, 14px, 24px);
  margin: 0;
  padding-bottom: 12px;
}

.photo__rating {
  @include font(400, 12px, 24px);
  position: relative;

  margin: 0;
  padding-left: 30px;

  color: $pink;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg") no-repeat 0 0;
  }
}
