.research {
  display: none;

  @include tablet {
    display: block;
    padding: 55px 0;
  }

  @include desktop {
    padding-top: 140px;

    background-color: $grey-light;

    & br {
      display: none;
    }
  }
}

.research__wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @include desktop {
    width: 940px;
    padding: 0 10px;
  }
}

.research__diagram {
  @include tablet {
    @include font(700, 96px);
    position: relative;

    box-sizing: border-box;
    width: (100% / 2);
    height: 277px;
    padding-top: 90px;
    padding-left: 65px;

    color: $pink;

    background: url("../img/icon-timer.svg") no-repeat 0 0;
    background-size: auto 277px;

    &::before {
      @include pseudo($top: 56px, $left: 17px);
      width: 180px;
      height: 180px;

      border: 12px solid $pink;
      border-radius: 50%;
    }
  }

  @include desktop {
    width: 298px;
    height: 346px;
    padding-top: 115px;
    padding-left: 80px;

    font-size: 120px;
    color: $pink;

    background-size: auto;

    &::before {
      top: 70px;
      left: 25px;

      width: 220px;
      height: 220px;

      border: 15px solid $pink;
      border-radius: 50%;
    }
  }
}

.research__info {
  @include tablet {
    width: (100% / 2);
    min-height: 210px;
  }

  @include desktop {
    width: 570px;
  }
}

.research__title {
  @include tablet {
    @include font(700, 30px, 36px);
    margin: 0;

    color: $black;
  }
}

.research__text,
.research__link {
  @include tablet {
    @include font(400, 14px, 24px);
    margin: 0;
    padding: 7px 0;

    color: $blue;
  }

  @include desktop {
    padding: 20px 0;

    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  @include tablet {
    display: block;

    color: $pink;

    &:hover,
    &:focus {
      color: $blue;
    }

    &:active {
      color: rgba($blue, 0.3);
      text-decoration: none;
    }
  }
}
