.reviews {
  position: relative;

  width: 280px;
  margin: 0 auto 40px;
  padding: 40px 0;
  overflow: hidden;

  text-align: center;

  @include tablet {
    width: 620px;
  }

  @include desktop {
    position: relative;

    width: 940px;
    padding: 185px 10px 40px;

    &::before {
      @include pseudo($top: 70px, $left: 50%);
      width: 80px;
      height: 64px;

      margin-left: -40px;

      background: url("../img/icon-quotes.svg") no-repeat 0 0;
    }
  }
}

.reviews__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 840px;

  transition: transform 0.7s ease-in-out;

  @include tablet {
    width: 1860px;
  }

  @include desktop {
    width: 2820px;
  }
}

.reviews__item {
  position: relative;

  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author {
  @include font(700, 18px, 30px);
  margin: 0;

  color: $black;

  & span {
    display: none;
  }

  @include tablet {
    padding-top: 35px;

    font-size: 20px;

    & span {
      display: block;

      font-weight: 400;
      font-size: 14px;
      color: $blue;
    }
  }

  @include desktop {
    font-size: 24px;

    & span {
      font-size: 18px;
    }
  }
}

.reviews__text {
  @include font(400, 14px, 30px);
  margin: 0;
  padding-top: 10px;

  color: $blue;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    padding: 0 120px;
  }
}

.reviews__toggles {
  @include desktop {
    display: none;
  }
}

.reviews__prev,
.reviews__next {
  display: none;

  @include desktop {
    @include button-reset;
    display: block;

    font-size: 0;

    outline: none;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.reviews__prev::before {
  @include pseudo($top: 50%, $left: 0);
  width: 22px;
  height: 46px;

  background: url("../img/icon-review-arrow-left.svg") no-repeat 0 0;

}

.reviews__next::before {
  @include pseudo($top: 50%, $right: 0);
  width: 22px;
  height: 46px;

  background: url("../img/icon-review-arrow-right.svg") no-repeat 0 0;
}
