.reviews {
  position: relative;

  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 45px 0;
  overflow: hidden;

  text-align: center;

  @include tablet {
    width: 620px;
    margin-bottom: 20px;
    padding: 90px 0 44px;
  }

  @include desktop {
    position: relative;

    width: 940px;
    padding: 185px 0 0;

    &::before {
      @include pseudo($top: 75px, $left: 50%);
      width: 80px;
      height: 64px;

      margin-left: -40px;

      background: url("../img/icon-quotes.svg") no-repeat 0 0;
    }
  }
}

.reviews__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 840px;

  transition: transform 0.7s ease-in-out;

  @include tablet {
    width: 1860px;
  }

  @include desktop {
    width: 2820px;
  }
}

.reviews__item {
  position: relative;

  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author {
  @include font(700, 18px, 30px);
  margin: 0;

  color: $black;

  & span {
    display: none;
  }

  @include tablet {
    padding-top: 35px;

    font-size: 20px;

    & span {
      display: block;

      font-weight: 400;
      font-size: 14px;
      color: $blue;
    }
  }

  @include desktop {
    font-size: 24px;

    & span {
      font-size: 18px;
    }
  }
}

.reviews__text {
  @include font(400, 14px, 30px);
  margin: 0;
  padding-top: 11px;

  color: $blue;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    padding: 0 120px;
  }
}

.reviews__toggles {
  @include desktop {
    display: none;
  }
}

.reviews__button {
  display: none;

  @include desktop {
    @include button-reset;
    position: absolute;
    top: 210px;

    display: block;
    width: 30px;
    height: 50px;

    font-size: 0;

    outline: none;

    &--next {
      right: 0;
    }
  }
}

.reviews__button::before {
  width: 30px;
  height: 30px;

  border-left: 2px solid rgba($blue, 0.3);
  border-bottom: 2px solid rgba($blue, 0.3);
}

.reviews__button--prev::before {
  @include pseudo($top: 10px, $left: 10px);
  transform: rotate(45deg);
}

.reviews__button--next::before {
  @include pseudo($top: 10px, $right: 10px);
  transform: rotate(-135deg);
}

.reviews__button:hover::before,
.reviews__button:focus::before {
  border-left: 2px solid rgba($blue, 0.6);
  border-bottom: 2px solid rgba($blue, 0.6);
}

.reviews__button:active::before {
  border-left: 2px solid rgba($blue, 0.1);
  border-bottom: 2px solid rgba($blue, 0.1);
}
