.site-list {
  @include list-reset;

  @include tablet {
    width: 660px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 620px;
  }
}

.site-list__link {
  @include font(700, 18px, 32px);
  display: block;
  padding: 16px 0;

  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $blue;
  border-bottom: 1px solid $black;
  box-shadow: inset 0 1px 0 rgba($white, 0.15);

  transition: 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: rgba($pink, 0.3);
  }

  @include desktop {
    @include font(400, 18px, 18px);
    padding: 10px 0;

    text-transform: none;

    background-color: transparent;
    border-bottom: none;
    box-shadow: none;

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

.site-list__link--active {
  &:hover,
  &:focus {
    color: $white;
  }

  @include desktop {
    border-bottom: 2px solid $white;
  }
}
