.tariff {
  margin-bottom: 40px;

  @include tablet {
    margin-top: 10px;
    margin-bottom: 45px;
  }

  @include desktop {
    margin-top: 35px;
    margin-bottom: 65px;
  }
}

.tariff__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 103px 0 50px;
  overflow-x: hidden;

  @include tablet {
    width: 620px;
    padding: 100px 20px 70px;
  }

  @include desktop {
    width: 940px;
    padding: 155px 10px 90px;
  }
}

.tariff__list {
  width: 840px;
  margin-left: -260px;

  border-collapse: collapse;

  @include tablet {
    width: 100%;
    margin: 0;
  }
}

.tariff__item {
  position: relative;

  color: $white;

  background-color: $blue;
  border: 2px solid $blue;
  border-top: none;

  &:first-child {
    display: none;
  }

  &:nth-child(-n+3) {
    border-right: 2px solid $greyLight;
  }

  &:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 74px;
    height: 73px;

    background: url("../img/bg-hit.svg") no-repeat 0 0;
  }

  &:nth-child(3)::after {
    content: "хит";
    position: absolute;
    top: 18px;
    left: 11px;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;

    transform: rotate(-45deg);
  }

  @include tablet {
    width: (100% / 4);

    &:first-child {
      display: table-cell;

      background-color: transparent;
      border-bottom: 2px solid $greyDark;
      border-left: none;
    }
  }

  @include tablet-only {
    &:nth-child(3)::before {
      width: 61px;
      height: 61px;

      background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
    }

    &:nth-child(3)::after {
      top: 15px;
      left: 6px;
    }
  }
}

.tariff__name {
  @include font(700, 18px, 30px);
  margin: 0;
  padding: 15px 0 5px;

  text-transform: uppercase;

  @include tablet-only {
    font-size: 16px;
  }
}

.tariff__price {
  @include font(300, 24px, 30px);
  margin: 0;
  padding-bottom: 17px;

  @include tablet-only {
    padding-bottom: 12px;

    font-size: 18px;
  }
}

.tariff__option {
  @include font(400, 14px, 30px);
  position: relative;

  padding: 15px 20px;

  color: $blue;
  text-transform: uppercase;

  background-color: $white;
  border: 2px solid $greyDark;
  border-top: none;

  &:first-child {
    display: none;
  }

  &:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;

    width: 31px;
    height: 21px;

    background: url("../img/icon-yes.svg") no-repeat 0 0;
    background-size: cover;
  }

  @include tablet {
    padding: 14px;

    text-transform: none;

    &:first-child {
      display: table-cell;
    }

    &:not(:first-child)::after {
      top: 10px;
      right: 60px;
    }
  }

  @include desktop {
    padding: 20px;

    font-size: 18px;

    &:not(:first-child)::after {
      top: 18px;
      right: 100px;
    }
  }
}

.tariff__smiley .tariff__option:nth-child(2)::after {
  width: 27px;
  height: 27px;

  background: url("../img/icon-no.svg") no-repeat 0 0;
}

.tariff__comments .tariff__option:nth-child(-n+3)::after {
  width: 27px;
  height: 27px;

  background: url("../img/icon-no.svg") no-repeat 0 0;
}

.tariff__toggles {
  margin: 0;
  padding-top: 30px;

  @include tablet {
    display: none;
  }
}

.tariff__filter span,
.tariff__smiley span,
.tariff__comments span {
  @include tablet {
    display: none;
  }
}
