.tariff {
  padding-bottom: 40px;
  margin-bottom: 40px;

  background: $grey-light url("../img/bg-triangle-white.svg") no-repeat 100% 0;
  background-size: cover;

  @include tablet {
    margin-top: 10px;
    margin-bottom: 45px;
  }

  @include desktop {
    margin-top: 35px;
    margin-bottom: 65px;
  }
}

.tariff__wrapper {
  position: relative;

  width: 280px;
  margin: 0 auto;
  padding: 103px 20px 50px;
  overflow: hidden;

  @include tablet {
    width: 620px;
    padding: 100px 20px 70px;
  }

  @include desktop {
    width: 940px;
    padding: 155px 10px 90px;
  }
}

.tariff__list {
  width: 840px;

  border-collapse: collapse;

  transition: transform 0.7s ease-in-out;

  @include tablet {
    width: 100%;
  }
}

.tariff__item {
  position: relative;

  color: $white;

  background-color: $blue;
  border: 2px solid $blue;
  border-top: none;

  &:first-child {
    display: none;
  }

  &:nth-child(-n+3) {
    border-right: 2px solid $grey-light;
  }

  &:nth-child(3)::before {
    @include pseudo($top: 0, $left: 0);
    width: 74px;
    height: 73px;

    background: url("../img/bg-hit.svg") no-repeat 0 0;
  }

  &:nth-child(3)::after {
    @include pseudo($top: 10px, $left: 13px, $content: "хит");
    @include font(400, 14px, 30px);
    text-transform: uppercase;

    transform: rotate(-45deg);
  }

  @include tablet {
    width: (100% / 4);

    &:first-child {
      display: table-cell;

      background-color: transparent;
      border-bottom: 2px solid $grey;
      border-left: none;
    }
  }

  @include tablet-only {
    &:nth-child(3)::before {
      width: 61px;
      height: 61px;

      background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
    }

    &:nth-child(3)::after {
      top: 7px;
      left: 6px;
    }
  }
}

.tariff__name {
  @include font(700, 18px);
  margin: 0;
  padding-top: 17px;
  padding-bottom: 5px;

  text-transform: uppercase;

  @include tablet-only {
    font-size: 16px;
  }
}

.tariff__price {
  @include font(300, 24px);
  margin: 0;
  padding-bottom: 15px;

  @include tablet-only {
    font-size: 18px;
  }
}

.tariff__option {
  @include font(400, 14px, 30px);
  position: relative;

  padding: 14px 20px;

  color: $blue;
  text-transform: uppercase;

  background-color: $white;
  border: 2px solid $grey;
  border-top: none;

  &:first-child {
    display: none;
  }

  &:not(:first-child)::after {
    @include pseudo($top: 20px, $right: 17px);
    width: 31px;
    height: 23px;

    background: url("../img/icon-yes.svg") no-repeat 0 0;
    background-size: cover;
  }

  @include tablet {
    padding: 7px 10px;

    text-transform: none;

    &:first-child {
      display: table-cell;
    }

    &:not(:first-child)::after {
      top: 10px;
      right: 60px;
    }
  }

  @include desktop {
    padding: 14px 20px;

    font-size: 18px;

    &:not(:first-child)::after {
      top: 18px;
      right: 100px;
    }
  }
}

.tariff__smiley .tariff__option:nth-child(2)::after,
.tariff__comments .tariff__option:nth-child(-n+3)::after {
  width: 27px;
  height: 27px;

  background: url("../img/icon-no.svg") no-repeat 0 0;
}

.tariff__filter span,
.tariff__smiley span,
.tariff__comments span {
  @include tablet {
    display: none;
  }
}

.tariff__toggles {
  @include tablet {
    display: none;
  }
}
