.upload {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 30px;

  @include tablet {
    width: 660px;
  }

  @include desktop {
    width: 940px;
  }
}

.upload__title {
  @include font(400, 14px, 30px);
  margin: 0;
  padding: 20px 20px 30px;

  text-align: center;
  color: $blue;

  @include tablet {
    padding: 40px 20px 60px;

    font-size: 18px;
  }
}

.upload__photo {
  padding: 20px;

  background-color: $greyLight;

  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }

  @include desktop {
    width: 900px;
  }
}

.upload__image {
  display: block;
}

.upload__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload__button-post {
  width: 100%;
  margin-top: 20px;

  color: $pink;

  border: 3px solid $pink;

  @include tablet {
    width: 260px;
  }
}

.upload__button-cancel {
  width: 100%;
  margin-top: 10px;

  color: rgba($blue, 0.1);

  border: 3px solid rgba($blue, 0.1);

  @include tablet {
    width: 260px;
  }
}
