.upload {
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 660px;
  }

  @include desktop {
    width: 940px;
    margin-bottom: 25px;
  }
}

.upload__title {
  @include font(400, 14px, 30px);
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;

  text-align: center;
  color: $blue;

  @include tablet {
    width: 450px;
    padding-top: 45px;
    padding-bottom: 70px;

    font-size: 18px;
  }

  @include desktop {
    padding-top: 10px;
    padding-bottom: 70px;
  }
}

.upload__photo {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $grey-light;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px 20px;
  }

  @include desktop {
    padding: 55px;
  }
}

.upload__image {
  display: block;
  padding: 0 20px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    padding-left: 25px;
  }
}

.upload__filter {
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50%;
  }
}

.upload__list {
  @include list-reset;
  width: 100%;

  @include mobile-only {
    position: relative;

    display: flex;
    justify-content: flex-start;

    border-bottom: 1px solid $grey;

    &::before {
      @include pseudo($top: 125px, $right: 40px);
      width: 240px;
      height: 2px;

      background-color: $blue;
    }

    &::after {
      @include pseudo($top: 125px, $right: 75px);
      width: 10px;
      height: 10px;
      margin-top: -6px;

      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &:active::after {
      background: $pink;
    }
  }

  @include tablet {
    margin-top: -15px;
  }
}

.upload__item {
  position: relative;

  height: 70px;
  margin: 30px 43px 60px;

  border-bottom: 1px solid $grey;

  @include tablet {
    margin: 0;
    margin-left: 25px;

    &::before {
      @include pseudo($top: 50%, $right: 20px);
      width: 202px;
      height: 2px;

      background-color: $blue;
    }

    &::after {
      @include pseudo($top: 50%, $right: 60px);
      width: 10px;
      height: 10px;
      margin-top: -6px;

      background-color: $grey-light;
      border: 2px solid $pink;
      border-radius: 50%;
      cursor: pointer;
    }

    &--fill::after {
      right: 180px;
    }

    &--contrast::after {
      right: 110px;
    }

    &:active::after {
      background: $pink;
    }
  }

  @include desktop {
    width: 100%;
    margin: 0;

    &::before {
      right: 35px;

      width: 288px;
    }

    &::after {
      right: 235px;
    }

    &--fill::after {
      right: 60px;
    }

    &--contrast::after {
      right: 145px;
    }
  }
}

.upload__filter-button {
  position: absolute;

  top: 0;
  left: 0;

  width: 48px;
  height: 70px;

  font-size: 0;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.upload__filter-icon {
  fill: $pink;

  &--fill,
  &--contrast {
    fill: rgba($blue, 0.3);
  }

  &:hover {
    fill: rgba($blue, 0.5);
  }

  @include tablet {
    width: 70%;

    &--fill {
      fill: $pink;
    }

    &--contrast {
      width: 50%;

      fill: $pink;
    }
  }

  @include desktop {
    width: auto;

    &--contrast {
      margin-left: 7px;
    }
  }
}

.upload__button {
  @include font(700, 18px, 18px);
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 16px 0;

  text-decoration: none;

  background-color: transparent;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  transition: 0.3s ease-in-out;

  &--post {
    margin-top: 38px;

    color: $pink;

    border: 3px solid $pink;

    &:hover,
    &:focus {
      color: $white;

      background-color: $pink;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--cancel {
    margin-top: 10px;

    color: rgba($blue, 0.1);

    border: 3px solid rgba($blue, 0.1);

    &:hover,
    &:focus {
      color: rgba($blue, 0.3);

      border: 3px solid rgba($blue, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);

      background-color: rgba($blue, 0.3);
      border: 3px solid rgba($blue, 0);
    }
  }

  @include tablet {
    width: 260px;
    margin: 0 auto;
    margin-right: 13px;

    &--post {
      margin-top: 67px;
    }

    &--cancel {
      margin-top: 25px;
    }
  }

  @include desktop {
    width: 185px;
    margin: 0;
    margin-top: 145px;
  }
}
