@mixin font($weight, $size, $line-height: 1.2em) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin resetList {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
