@mixin font($weight, $size, $line-height: 1.2em) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin pseudo($top: null, $right: null, $bottom: null, $left: null, $content: "", $position: absolute) {
  content: $content;
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin mobile {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
